---

name: Checks

on:
  push:

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Optional but VERY useful while learning/debugging
      - name: Debug Docker versions
        run: |
          docker --version
          docker compose version
          docker-compose --version || true

      - name: Run Tests
        run: docker compose run --rm app sh -c "python manage.py test"

      - name: Run Lint
        run: docker compose run --rm app sh -c "flake8"
